<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Developers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div></div>
  <ngx-datatable 
      class="dark"
      [limit]="10" 
      [rows]="dataTableRows" 
      [rowHeight]="50"
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="50" 
      [footerHeight]="50">
      <ngx-datatable-column label="ID" name="id">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <ion-label>{{value}}</ion-label>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="name">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <ion-label>{{value}}</ion-label>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="position">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <ion-label>{{value}}</ion-label>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="startWork">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <ion-label>{{value.getFullYear()}}</ion-label>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="level">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <ion-label>{{value}}</ion-label>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="id">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <ion-button color="primary" size="small" (click)="editDeveloper(value)">Edit</ion-button>
          <ion-button color="danger" size="small" (click)="isDeletingDeveloper = {modal: true, id: value }">Delete</ion-button>
        </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>
  <ion-grid>
    <ion-row class="row header">
      <ion-col size="1">ID</ion-col>
      <ion-col size="2">Name</ion-col>
      <ion-col size="2">Position</ion-col>
      <ion-col size="3">Starting year</ion-col>
      <ion-col size="2">Level</ion-col>
      <ion-col size="2">Actions</ion-col>
    </ion-row>
    <ion-row *ngFor="let developer of developers" class="row">
      <ion-col size="1">{{ developer.id}}</ion-col>
      <ion-col size="2">{{ developer.name }}</ion-col>
      <ion-col size="2">{{ developer.position}}</ion-col>
      <ion-col size="3">{{ developer.startWork}}</ion-col>
      <ion-col size="2">{{ developer.level}}</ion-col>
      <ion-col size="2">
        <ion-button color="primary" size="small" (click)="editDeveloper(developer.id)">Edit</ion-button>
        <ion-button color="danger" size="small" (click)="isDeletingDeveloper = {modal: true, id: developer.id }">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button color="primary" size="large" (click)="createDeveloper()">Add Developer</ion-button>
  
  <ion-modal [isOpen]="isDeletingDeveloper.modal" (didDismiss) ="isDeletingDeveloper.modal = false">
    <ng-template>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Are you sure you want to remove this developer?
          </ion-card-title>
          <ion-button color="danger" size="small" (click)="deleteDeveloper(isDeletingDeveloper.id)">Yes</ion-button>
        </ion-card-header>
      </ion-card>
    </ng-template>
  </ion-modal>
  

  <ion-modal [isOpen]="isUpsertingDeveloper" (didDismiss)="isUpsertingDeveloper = false">
    <ng-template>
      <ion-list>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input class="ion-text-center" placeholder="Developer Name" [(ngModel)]="editDeveloperObj.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Position</ion-label>
          <ion-select placeholder="Select Position" interface="popover" [(ngModel)]="editDeveloperObj.position">
            <ion-select-option value="frontend">Frontend</ion-select-option>
            <ion-select-option value="backend">Backend</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Level</ion-label>
          <ion-select interface="popover" placeholder="Select Position" [(ngModel)]="editDeveloperObj.level">
            <ion-select-option value="apprentice">apprentice</ion-select-option>
            <ion-select-option value="junior">junior</ion-select-option>
            <ion-select-option value="mid">mid</ion-select-option>
            <ion-select-option value="senior">senior</ion-select-option>
            <ion-select-option value="architect">architect</ion-select-option>
            <ion-select-option value="consultant">consultant</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Start Year</ion-label>
          <ion-datetime [(ngModel)]="editDeveloperObj.startWork" presentation="year"></ion-datetime>
        </ion-item>
        <ion-item>
          <div class="display: flex; justify-content: center; width: 100%;">
            <ion-button color="primary" size="small" (click)="onUpsertDeveloper()">Submit Changes</ion-button>
          </div>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-modal>
</ion-content>
